div.rainbow {
    height: 250px;
    width: 80vw;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

div.rainbow:before {
    content: "";
    height: 800%;
    width: 300%;
    position: absolute;
    background: conic-gradient(#fd004c,
            #fe9000,
            #fff020,
            #3edf4b,
            #3363ff,
            #b102b7,
            #fd004c);
    left: -100%;
    top: -350%;
    animation: spin 3s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(-360deg);
    }
}

div.rainbow:after {
    content: "Welcome to XJT!";
    position: absolute;
    background-color: #ffffff;
    height: 90%;
    width: 97%;
    top: 5%;
    left: 1.5%;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 6vw;
    letter-spacing: 6px;
    display: grid;
    place-items: center;

}