div.rainbow-container {
    height: 300px;
    width: 60vw;
    transform: translate(0, 0);
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

div.rainbow-background {
    height: 100vw;
    width: 100vw;
    left: -25vw;
    top: calc(150px - 50vw);
    position: absolute;
    background: conic-gradient(#fd004c,
            #fe9000,
            #fff020,
            #3edf4b,
            #3363ff,
            #b102b7,
            #fd004c);
    animation: spin 5s infinite linear;
}

div.rainbow-inner {
    position: absolute;
    background-color: white;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    100% {
        transform: rotate(-360deg);
    }
}